<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body style="background-color: #f3f3f3">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-circle"></i>
        <b style=""> BRAND</b>
      </a> </div>
  </nav>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-7 d-flex flex-column justify-content-center" style="">
          <h3 class="display-4 mb-3">YOUR LIBRARY</h3>
          <p class="mb-4 lead">Log in or register and find your soul book</p>
        </div>
        <div class="p-5 col-md-5" style="">
          <h3 class="mb-3">Log in</h3>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    class="form-control"
                    placeholder="Type here"
                    name="username"
                    type="text"
                    id="username"
                >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    placeholder="password"
                    name="password"
                    id="password"
                >
            </div>
              {% if invalid_credential %}
                <span style="color: red">{{ invalid_message }}</span>
              {% endif %}
              <button type="submit" class="btn mt-4 btn-block btn-outline-dark p-2"><b>Log in</b></button>
          </form>
        <button class="btn mt-4 btn-block btn-outline-dark p-2"><a href="/auth/register">Register</a></button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>