<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <style>
        .special-filter {
            border: 1px solid #ccc;
            box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
            display: inline;
            background-color: darkgrey;
            border-radius: 10px;
            padding: 10px
        }
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> BRAND</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/library/">Library</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/my-books">My books</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/welcome">First page</a> </li>
          <li class="nav-item"> <a class="nav-link" href={% url 'my_auth:user_logout' %}>Log out</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark">Contact us</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Genre</button>
            <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/library/?filter=thriller&type=genre">Thriller</a>
                <a class="dropdown-item" href="/library/?filter=romance&type=genre">Romance</a>
                <a class="dropdown-item" href="/library/?filter=comedy&type=genre">Comedy</a>
                <a class="dropdown-item" href="/library/?filter=drama&type=genre">Drama</a>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Publication Date</button>
            <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/library/?filter=most&type=pub_date">Most Recent</a>
                <a class="dropdown-item" href="/library/?filter=old&type=pub_date">Old</a>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Popular</button>
            <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
              <span class="dropdown-item-text">Most borrowed</span>
            </div>
          </div>
            <div class="btn-group">
                <button class="btn btn-danger"><a style="color: white" href="/library/">All Books</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
        {% if error %}<h1 style="color: #e4606d">Something went terribly wrong! Please try again later</h1>{% endif %}
        {% if success %}<h1 style="color: #1e7e34">The book was borrowed, congrats!</h1>{% endif %}
        {% if queue_added %}<h1>The book was added in the waiting queue</h1>{% endif %}
        {% if is_filtered_applied %} <h3 class="special-filter">Applied filter: {{ filter }}</h3> {% endif %}
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Genre</th>
                  <th>Publication Date</th>
                  <th>Availability</th>
                </tr>
              </thead>
              <tbody>

              {% for book in books_list %}
                <tr>
                  <th scope="row">{{ book.id }}</th>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.genre }}</td>
                  <td>{{ book.pub_date }}</td>
                  <td>{{ book.availability }}</td>
                  <td style="border: none">
                      <form method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{ book.id }}" name="book_id">
                          {% if book.availability %}<button class="btn btn-primary" type="submit">Borrow book</button>
                          {% else %}<button class="btn btn-primary" type="submit">Add waiting queue</button>
                          {% endif %}
                      </form>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>